{% extends 'studenthome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1>Previous Assignments</h1>
    </div>
</div>

<div class="container">
    <div class="col-sm-offset-1 col-sm-8">
    {% if bundle %}
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Sno.</th>
                    <th class="text-center text-uppercase">Class</th>
                    <th class="text-center text-uppercase">Subject</th>
                    <th class="text-center text-uppercase">Due Date</th>
                    <th class="text-center text-uppercase">Assignment</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    {% for key, a_value in bundle.items %}
                    <tr>
                        <td>{{ key }}</a></td>
                        <td>{{ a_value.class_number }}</a></td>
                        <td>{{ a_value.subject }}</td>
                        <td>{{ a_value.due_date }}</td>
                        
                        <td><a href="{{ a_value.assignment_file.url }}" target="_new">View Assignment</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </tbody>
        </table>
    {% else %}
        <div class="card" style="padding: 1cm">
            <div class="card-header">
                <h2>You have not any assignment yet!</h2>
            </div>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}