<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}LMS{% endblock %}</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'applogin/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        {% block head %}
        {% endblock %}

    </head>
    <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'studenthome:studenthome'%}">App</a>
            </div>
    
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'studenthome:studenthome'%}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'studenthome:currentassignment'%}">
                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;View Assignments
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'studenthome:announcement'%}">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;View Notifications
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'studenthome:attendance'%}">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;View Attendance
                        </a>
                    </li>
                </ul>
                
    
    
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="glyphicon glyphicon-user"></span> My Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Profile</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="{% url 'studenthome:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                </ul>
    
            </div>
        </div>
    </nav>
        
    {% block body %}
    {% endblock %}
    
    </body>
</html>