{% extends 'studenthome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1>Student Profile</h1>
            <h4>Profile details informations</h4>
    </div>
</div>

<div class="container">
    <div class="col-sm-offset-1 col-sm-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">enrolment_no</th>
                    <th class="text-center text-uppercase">first_name</th>
                    <th class="text-center text-uppercase">last_name</th>
                    <th class="text-center text-uppercase">date_of_birth</th>
                    <th class="text-center text-uppercase">email</th>
                    <th class="text-center text-uppercase">admission_date</th>
                    <th class="text-center text-uppercase">study</th>
                    <th class="text-center text-uppercase">school</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <tr>
                        <td>{{ Student.enrolment_no }}</td>
                    </tr>
                    <tr>
                        <td>{{ Student.first_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ Student.last_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ Student.date_of_birth }}</td>
                    </tr>
                    <tr>
                        <td>{{ Student.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ Student.school }}</td>
                    </tr>
                    <tr>
                        <td>{{ Student.study }}</td>
                    </tr>
                    <tr>
                        <td>{{ Student.date_of_birth }}</td>
                    </tr>
                </tbody>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}