{% extends 'adminhome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1>Students</h1>
            <h4>Class-wise list of students currently registered</h4>
    </div>
</div>

<div class="container">
    <div class="col-sm-offset-3 col-sm-8 text-right">
        <a href="{% url 'adminhome:addstudent' %}">Add Student</a>
    </div>
    <div class="col-sm-offset-1 col-sm-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Class</th>
                    <th class="text-center text-uppercase"># Students</th>
                </tr>
            </thead>
            <tbody>
                {% for clss, count in class_dict.items %}
                    <tr>
                        <td><a href="{% url 'adminhome:class_students' clss %}">{{ clss }}</a></td>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}