{% extends 'adminhome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1>Teachers</h1>
            <h4>List of teachers currently registered</h4>
    </div>
</div>

<div class="container">
    <div class="col-sm-offset-3 col-sm-8 text-right">
        <a href="{% url 'adminhome:addteacher' %}">Add Teacher</a>
    </div>
    <div class="col-sm-offset-1 col-sm-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Name</th>
                    <th class="text-center text-uppercase">Subject</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    {% for teacher, subject in teachers.items %}
                        <tr>
                            <td><a href="#">{{ teacher }}</a></td>
                            <td>{{ subject }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}