{% extends 'applogin/base.html' %}
{% block title %}Password Request{% endblock %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
	<div class="container" style=" height: 120px; background-color: lightcyan">
			<h1>Request Password</h1>
			<h4>Enter registered email address to which the reset link is to be sent</h4>
	</div>
</div>

<div class="container">
	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="container-fluid">
			{% include 'applogin/form-template.html' %}
			<div class="form-group text-center">
				<div class="col-xs-offset-3 col-xs-1 ">
					<button type="submit" class="btn btn-warning">Send mail</button>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}