{% extends 'applogin/base.html' %}
{% block title %}Password Reset{% endblock %}
{% block body %}
<div style="padding-top: 10px; padding-bottom: 10px">
	<div class="container" style=" height: 120px; background-color: lightcyan">
			<h1>Password Reset Initiated</h1>
	</div>
</div>

<div class="container">
	<div class="container-fluid">
		<div class="col-lg-offset-2 col-sm-10" style="padding: 20px">
			<h4>Password reset link has been send to your email. Please check you mailbox and click on the link to proceed with password reset.</h4>
		</div>
	</div>
</div>
{% endblock %}