{% extends 'principalhome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1>Teacher Details</h1>
    </div>
</div>

<div class="container">
    <div class="col-sm-offset-1 col-sm-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Stats</th>
                    <th class="text-center text-uppercase">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ teacher }}</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>{{ teacher.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>Joining Date</td>
                    <td>{{ teacher.joining_date }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ teacher.email }}</td>
                </tr>
                <tr>
                    <td>Phone No.</td>
                    <td>{{ teacher.phone }}</td>
                </tr>
                <tr>
                    <td>Class Teacher</td>
                    <td>{{ teacher.is_class_teacher }}</td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>{{ teacher.subject }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}