{% extends 'teacherhome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1>Enter the marks</h1>
            <h4>To the respective subject for the class.</h4>
    </div>
</div>
<div class="container">
    <div class="col-sm-offset-1 col-sm-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Class</th>
                    <th class="text-center text-uppercase"> Subject </th>
                </tr>
            </thead>
            <tbody>
                {% for study, subject in teacher_subject.items%}
                    <tr>
                        <td><a href="{% url 'teacherhome:subject' study|add:subject %}">{{ subject }}</a></td>
                        <td>{{ study }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}