{% comment %} {% extends 'teacherhome/base.html' %} {% endcomment %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1> Attendance status</h1>
    </div>
</div>

<div class="container">
    <div class="col-sm-offset-1 col-sm-8">
        <table>
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Roll no</th>
                    <th class="text-center text-uppercase"> Name </th>
                </tr>
            </thead>
            <div class="col-sm-offset-1 col-sm-8">
                <tbody>
                    {% for Rollno, name in bundle.items %}
                        <tr>
                            <td>{{ Rollno }}</a></td>
                            <td>{{ name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </div>
        </table>
    </div>
</div>

{% endblock %}