{% extends 'teacherhome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">

</div>
<div class="container">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
                <form id="contact" action="" method="post">
                    <div class="col-xs-offset-2 col-xs-10" style="padding: 2px">
                        <label class="form-check-label" for="materialUnchecked">Roll Number </label><br>
                        <input placeholder="Student's Roll Number" type="text" tabindex="1" required autofocus style="width: 300px;" ><br>
                    </div>
                    <div class="col-xs-offset-2 col-xs-10" style="padding: 2px">
                        <label class="form-check-label" for="materialUnchecked">Email-id</label><br>
                        <input placeholder="Parent's Email Address" type="email" tabindex="2" required style="width: 300px;" ><br>
                    </div>
                    <div class="col-xs-offset-2 col-xs-10" style="padding: 2px">
                        <label class="form-check-label" for="materialUnchecked">Result File</label><br>
                        <input type="file" required/><br>
                        
                    </div>
                </form>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-1" >
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </div>
        </div>
    </form>
</div>
    
{% endblock %}

