{% extends 'teacherhome/base.html' %}

{% block body %}

<div style="padding-top: 10px; padding-bottom: 10px">
    <div class="container" style=" height: 120px; background-color: lightcyan">
            <h1>Send Attendance Report</h1>
            <h4>Send a message about the attendance of a student to their parents.</h4>
    </div>
</div>
<div class="container">
    <div class="col-sm-offset-1 col-sm-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Roll Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>c12s01</td>
                </tr>
                <tr>
                    <td>c12s02</td>
                </tr>
                <tr>
                    <td>c12s03</td>
                </tr>
                <tr>
                    <td>Text here</td>
                    
                </tr>
                <tr>
                    <td>More text here</td>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-offset-10 col-xs-2" style="padding: 2px">
                <button type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
</div> 
{% endblock %}